#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 1000px;
}

.chosenItems, .MenuList {
  border: 3px solid black;
  width: 450px;
}

.title {
  border-bottom: 3px solid black;
}

.title h1 {
  font-size: 36px;
}

.chosenItems h2{
  margin: 25% 0 0;
}

.chosenItems h2, .chosenItems span {
  font-size: 30px;
  font-weight: 700;
}

.addedItems {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 0;
}

.itemsRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 100px 0;
}

.item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.itemName {
  width: 50%;
}

.item button svg {
  width: 30px;
  height: 30px;
}