#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 1000px;
}

.chosenItems, .MenuList {
  border: 3px solid black;
  width: 450px;
}

.title {
  border-bottom: 3px solid black;
}

.title h1 {
  font-size: 36px;
}

.itemsRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}